/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body, button {
    font-family: "PT Sans", "Arial",  sans-serif;
    font-size: 14px;
}

.headline{
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 2.57em;
}

.mini-headline{
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 1.71em;
}

.season-name {
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 1.28em;
}

body{
    margin: 0;
}

body a {
    text-decoration: none;
    color: gray;
}

header{
    background-color: black;
    color: gray;
    display: flex;
    vertical-align: middle;
    padding: 14px;
    font-size: 12px;
    line-height: 16px;
    height: 44px;
    
}

.container{
    display: flex;
    align-items: center;
}

.info{
    display: flex;
    flex: 1;
 }

.info > span,img,a{
    margin: 6px;
}

.registration-info{
    display: flex;
   }

.registration-info > img,a{
    margin:6px;
}

/*main*/
/*nav*/

.main-navigation{
    background-color: black;
    color:gray;
    display: flex;
    height: 80px;
}

.nav-logo{
    display: flex;
    flex: 1;
    padding: 5px;
}

.nav-list{
    display: flex;
    flex-flow: row;
    }

.navigation-item{
    display: flex;
    align-items: center;
    padding: 22px;
    text-transform: uppercase;
    color: gray;
    background-color: black;
    font-size: 14px;
    border-style: none;
}

/*cover*/

.cover{
    display: flex;
    flex-flow: column;
    height: 607px;
    background-image: url('фон главный.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    color: white;
    text-transform: uppercase;
    text-align: center;
}



.cover > img, h3{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    }

/*screen 2*/

.screen2{
    display: flex;
}

.season{
    display: flex;
    flex-flow: column;
    background-color: black;
    color: white;
    width: 55%;
    height: 730px;
    align-items: center;
}



.all-watch{
    display: flex;
    flex-flow: row;
    color: white;
    margin-bottom: 100px;
    }

.watch1, .watch2, .watch3{
    padding: 20px;
    text-align: center;
}


.season-name{
    color:white;
    font-size: 18px;
}

.season > h3{
    margin-top: 100px;
    margin-bottom: auto;
}

.line{
    display: flex;
    margin-bottom: 25px;
    display: flex;
    color: black;
    border-bottom: 1px solid #fff;
    
}

.new-collection{
    display: flex;
    flex-flow: column;
    width: 45%;
    align-items: center;
    background-color: black;
    background-image: url('фон screen2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.new-collection > h3{
    margin-top: 500px;
    display: flex;
}
 
.line2{
    margin-bottom: 35px;
    display: flex;
    border-bottom: 1px solid #fff;
    width: 120px;
}

.new-collection-catalog{
    margin-bottom: 80px;
    width: 138px;
    height: 47px;
    font-size: 20px;
    vertical-align: center;
    color:#fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.new-collection-catalog:hover{
    background-color: transparent;
    color:#fff;
    border: 1px solid #fff;
    width: 148px;
    height: 57px;
    margin-bottom: 70px;
}

/*screen 3*/

.screen3{
    display: flex;
    height: 600px;
}

.screen3background{
    width: 45%;
    background-image: url('фон screen3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.old-collection{
    display: flex;
    width: 55%;
    flex-flow: column;
    align-items: center;
    color:#fff;
    background-color: black;
    text-align: center;
    }

.line3{
    margin-bottom: 32px;
    display: flex;
    border-bottom: 1px solid #fff;
    width: 120px;
}

.old-collection > h3{
    margin-top: 105px;
}
.old-collection > p{
   margin-bottom: 70px;
}

.old-collection-watch{
    margin-bottom: 100px;
    width: 311px;
    height: 47px;
    font-size: 20px;
    vertical-align: center;
    color:#fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.old-collection-watch:hover{
    color: white;
    background-color: transparent;
    width: 326px;
    height: 63px;
    margin-bottom: 84px;
}


/*novelties*/

.novelties{
    background-color: black;
    height: 1289px;
    display: flex;
    color:#fff;
}

.novelties > .container{
    display: flex;
    flex-flow: column; 
}

.novelties-items{
    display: flex;
    margin-bottom: 140px;
}

.line4{
    display: flex;
    border-bottom: 1px solid #fff;
    width: 120px;
    margin-bottom: 60px;
}

.novelties-first-row{
    display: flex;
    flex-flow:row;
}

.novelties-second-row{
    display: flex;
    flex-flow:row;
}

.novelties-block{
    padding: 20px;
    text-align: center;
}

.novelties-name{
    color:#fff;
    font-size: 18px;
}


/*our brands*/

.our-brands{
    height: 362px;
    background-color: black;
    color: white;
    display: flex;
}

.our-brands > .container{
    display: flex;
    flex-flow: column;
}

.brands-all{
    display: flex;
}

.line5{
    display: flex;
    border-bottom: 1px solid #fff;
    width: 120px;
    margin-bottom: 40px;
}

.br-logo{
    display: flex;
    flex-flow: row;
    margin-bottom: 80px;
}

.brand-logo{
    padding: 20px;
}


/*footer*/

.footer-page{
    height: 400px;
    background-image: url('фон подвал.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
}

.footer-page > .container{
    display: flex;
}

.footer {
    display: flex;
    flex-flow: row;
    padding: 20px;
    align-items:baseline;
    margin-top: 60px;
}

.space{
    display: flex;
    flex: 0.05;
}

.footer-about-shop{
    display: flex;
    flex: 0.3;
    flex-flow: column;
}

.footer-about-shop > h4{
    display: flex;
    margin-bottom: 60px;
}

.footer-categories{
    display: flex;
    flex: 0.3;
    flex-flow: column;
}

.footer-categories > h4{
    display: flex;
    margin-bottom: 60px;
    margin-left: 110px;
}

.categories-buttons{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.row1{
    display: flex;
    flex-flow: row;
}

.row2{
    margin-top: 10px;
    display: flex;
    flex-flow: row;
}

.footer-categories-button{
    display: flex;
    font-size: 14px;
    align-items: center;
    color:#fff;
    border: none;
    background-color: rgba(0, 0, 0, 0.4) ;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 15px;
    }



.mailing{
    display: flex;
    flex: 0.3;
    flex-flow: column;
    text-align: right;
}

.mailing > h4{
    display: flex;
    margin-bottom: 60px;
    margin-left: auto;
}

.footer-mailing{
    display: flex;
    margin-bottom: 25px;
}

.mailing > form{
    display: flex;
    margin-left: auto;
}

input[type=text]{
    background-color: rgba(97, 97, 97, 0.4);
    border: none;
    width: 210px;
    height: 42px;
}

input[type=submit]{
    background-color: black;
    color:#fff;
    width: 140px;
    height: 42px;
    border: none;
}









