.pt {
    font-family: "PT Sans", "Arial",  sans-serif;
}

.headline{
    font-family: 'Playfair Display', "Arial", serif;
}

.season-name {
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 20px;
}