/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body, button {
    font-family: "PT Sans", "Arial",  sans-serif;
    font-size: 14px;
}

.headline{
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 2.57em;
}

.mini-headline{
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 1.71em;
}

.season-name {
    font-family: 'Playfair Display', "Arial", serif;
    font-size: 1.28em;
}

body{
    margin: 0;
}

header{
    background-color: black;
    color: gray;
    display: flex;
    vertical-align: middle;
    padding: 14px;
    font-size: 12px;
    line-height: 16px;
    min-height: 44px;
    
}

header a {
    text-decoration: none;
    color: gray;
}

.info{
    display: flex;
    width: 386px;
    margin-left: 21%    
}

.info > span,img,a{
    margin:auto;
}

.tel-icon {
    margin-top: 1px;
}

.registration-info{
    display: flex;
    width: 130px;
    margin-left: 30%
}

.registration-info > img,a{
    margin:auto;
}

/*main*/

.main-navigation{
    background-color: black;
    color:gray;
    display: flex;
    min-height: 80px;
}

.main-navigation > a{
    margin-left: 21.5%;
    padding: 5px;
}

.navigation-list{
    display: flex;
    width: 535px;
    margin-left: 21%;

}

.navigation-item{
    text-transform: uppercase;
    color: gray;
    background-color: black;
    font-size: 14px;
    border-style: none;
}


